<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
 
        <meta name="description" content="About us">
        <meta name="keywords" content="resturant booking oasis food reservation ">
        <meta name="author" content="dussy">
       
      
    <title>About us</title>
    <style >
        *{
            box-sizing: border-box;
        }

        .contactus{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            gap: 10px;
            padding: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        button{
            border: 0px;
            outline: 0px;
        }

        .aboutcon>div{
            margin-top: 10px;

        }

    </style>
</head>
<body  style="width: 100%; height: 100vh; margin: 0px; display: flex; flex-direction: column;">
    <div style="width: 100% ; background-color: rgb(60,3,44);">

        {% include 'nav.html' %}
    </div>
    <div class="contactus">
       
      
        <h1>Contact us</h1>
        <div class="aboutcon">
            
            
            



<h1><b>Welcome to OASIS - Where Rooms and Tables Await Your Arrival!</b></h1>
<p>

    At OASIS, we understand that a truly unforgettable experience involves not only where you rest your head but also where you savor delectable moments. We're your one-stop destination for seamless room and table reservations, providing a harmonious blend of comfort and culinary delight.
</p>

<div>
    <h1><b>Who We Are:</b></h1>
    <p>

        More than just a reservation platform, OASIS is your partner in crafting moments that linger long after your journey ends. We curate a collection of accommodations and dining experiences to ensure your travels are marked by the perfect balance of relaxation and indulgence.
    </p>
</div>

<div>
    <h1><b>
        Accommodations That Feel Like Home:
    </b></h1>
    <p>
        From cozy retreats to luxurious suites, our carefully selected accommodations offer a haven tailored to your preferences. Whether you're a solo adventurer, a family in search of bonding moments, or a couple seeking romance, we have the perfect room for every chapter of your travel story.
    </p>
</div>
<div>
    <h1><b>
        Table Reservations That Delight Your Palate:
    </b></h1>
    <p>
        Elevate your dining experiences with OASIS. Explore an array of restaurants, cafes, and bistros offering a symphony of flavors. Make every meal a celebration, whether you're a culinary connoisseur or simply seeking a cozy spot to share good food with great company.
    </p>
</div>






<div>

    <b>Why OASIS</b>
    <ul>
        <li><b>Effortless Reservations:</b> A user-friendly platform that puts the power of choice in your hands, allowing you to effortlessly book rooms and tables with just a few clicks.</li>
        <li><b>Secure Transactions:</b>  Trust and security are paramount. Rest assured, our payment processes are designed to keep your information safe and transactions smooth.</li>
        <li><b>4/7 Support:</b> Our dedicated support team is always ready to assist, ensuring you have a stress-free experience from reservation to check-out.</li>
    </ul>
</div>


<div>

    <h1>
    
        <b>
            Craft Your Story With Us:
        
        </b>
    </h1>
    <p>
    
        Whether you're embarking on a weekend getaway, planning a special celebration, or just craving a delightful dining experience, [Your Website Name] is here to turn your travel aspirations into reality. Let us be the backdrop to your cherished memories.
    </p>
</div>

<div>

    <h1><b>Reserve Your Space, Savor the Moments:</b></h1>
    <p>
    
        Your journey begins with a reservation. Choose your room, secure your table, and let the anticipation of your next adventure fill the air. At [Your Website Name], we're not just booking spaces; we're crafting experiences that stay with you.
        
        Welcome to a world where rooms and tables await your arrival. Your memorable journey starts here.
    </p>
</div>

</div class="aboutcon">
        
          

    </div>
    
    
    
    
    <!-- <div  style="position: absolute; bottom: 0px; width: 100%;"> -->

        {% include 'footer.html' %}
    <!-- </div> -->
</body>
</html>