<footer class="w-full p-5 text-white bg-[rgb(60,3,44)]">
    <div class="flex w-full min-h-[100px] justify-between flex-col md:flex-row gap-[10px]">
        <div>
            <h1>

                logo
            </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, ducimus!</p>
        </div>
        <div  class="flex justify-between gap-[10px] items-center flex-col sm:flex-row" >
            <a class="font-bold">About</a>
            <a class="font-bold">Contact us</a>
            <a class="font-bold">Home</a>
        </div>

    </div>
    <div>
        <hr class="py-5">
        <div>
            <p>all right reserved</p>
        </div>
    </div>

</footer>