<style>
    .bb{
        display: flex;
        width: 100%;
        min-height:100px ;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
    .cc{
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        flex-direction: column;
    }
    @media (min-width: 768px) { 
        .bb{
            flex-direction: row;
        }
    }
    @media (min-width: 640px) { 
        .cc{
            flex-direction: row;
        }
    }

</style>
<footer  style="width: 100%; padding: 20px; color: white; background-color: rgb(60,3,44) ; margin-top: auto;">
    <div class="bb ">
        <div>
            <h1>

                OASIS
            </h1>
            <p>"Journey Beyond Limits: Where Every Reservation Becomes a Memorable Experience."</p>
        </div>
        <div  class="cc " >
            <a href="/aboutus" style="font-weight: bold;">About</a>
            <a href="contactus" style="font-weight: bold;">Contact us</a>
            <a href="/" style="font-weight: bold;">Home</a>
        </div>

    </div>
    <div>
        <hr  style="padding: 0px 20px;">
        <div>
            <p>all right reserved</p>
        </div>
    </div>

</footer>