<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/8c12befb35.js" crossorigin="anonymous"></script>
</head>
<body class="w-full min-h-[100vh] ">
    <section class="hero  h-[70vh] bg-[url('./img/jorg-angeli-1tyuLfDOnG0-unsplash.jpg')] bg-cover bg-center w-full  ">
        <nav class="relative text-white flex h-[60px] justify-between w-full items-center p-5">
            <div class="logo">LOGO</div>
            <div class="flex-col md:flex-row absolute p-5 md:p-0 top-0 left-0 md:static bg-black md:bg-transparent gap-[10px] md:gap-[100px] flex h-[100vh] md:h-full md:justify-between  md:items-center">
                <div class=" flex-col  md:flex-row  gap-[50px]  flex md:h-full md:justify-between md:items-center">
    
                    <a>about us</a>
                    <a>contact us</a>
                    <a>signup</a>
                    <a>login</a>
                    <a>logout</a>
                </div>
                    <div>

                        <button class="bg-[orangered] h-[40px] rounded-md px-5">
                            <a>book reservations</a>
                        </button>
                        <!-- <button class="rounded-md px-5"> -->
                            <!-- </button> -->
                        </div>
                    </div>
                    <i class="md:hidden visible fa-solid fa-bars text-white "></i>
    
        </nav>

        <div class="herosec px-5 text-white w-full h-[70%] flex flex-col justify-center items-center">
            <h1 class="font-bold text-[3rem]">STAY IN THE SOUTH OF GUADIOLA</h1>
            <button class="bg-[orangered] h-[40px] rounded-md px-5">
                <a>book reservations</a>
            </button>

        </div>

    </section>
    <section class="w-full flex  flex-col md:flex-row gap-[10px] p-5 py-20 ">
        <div class="w-full ">
            <h1  class="font-bold text-[30px]">Our services</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sunt labore non asperiores dolor quos maxime molestiae a quas repellat?</p>
            <div class="flex mt-5 gap-10 ">
                <div>
                    <h1 class="font-bold text-[30px]">40</h1>
                    <p class="text-[10px]">room reservations</p>
                </div>
                <div>
                    <h1 class="font-bold text-[30px]" >20</h1>
                    <p class="text-[10px]" >table reservations</p>
                </div>
            </div>
            
        </div>
        <div class="w-full md:h-full flex flex-col md:flex-row gap-5">
            <div class="w-full flex justify-center items-center overflow-clip h-[100px] md:h-full ">
                <img src="./img/jorg-angeli-1tyuLfDOnG0-unsplash.jpg" />
                
            </div>
           
            <div class="w-full flex justify-center items-center overflow-clip h-[100px] md:h-full ">
                <img src="./img/jorg-angeli-1tyuLfDOnG0-unsplash.jpg" />
                
            </div>
           

        </div>
    </section>
    <section class="px-5 py-20 bg-[rgb(241,241,248)]">
       <h1 class="py-5 font-bold text-[30px]">Facilities</h1>
       <p class="text-[10px]">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laudantium porro id necessitatibus consequatur minus possimus optio laborum eaque. Aut quae asperiores ipsum esse blanditiis pariatur iusto illum a similique.</p>
       <div class="flex w-full justify-between items-center my-5 flex-col md:flex-row">
        <div class="flex flex-col justify-center items-center gap-10 w-full sm:w-[250px]  p-5 rounded-md shadow-md">
            <img src="./img/jorg-angeli-1tyuLfDOnG0-unsplash.jpg" class="w-[50px] h-[50px]"/>
            <h1 class="font-bold">Private Workspace</h1>
            <p>Lorem ipsum dolor sit am ksksk sk skres ea.</p>

        </div>
        <div class="bg-white flex flex-col justify-center items-center gap-10 w-full sm:w-[250px]  p-5 rounded-md shadow-md">
            <img src="./img/jorg-angeli-1tyuLfDOnG0-unsplash.jpg" class="w-[50px] h-[50px]"/>
            <h1 class="font-bold">Private Workspace</h1>
            <p>Lorem ipsum dolor sit am ksksk sk skres ea.</p>

        </div>
        <div class="flex flex-col justify-center items-center gap-10 w-full sm:w-[250px]  p-5 rounded-md shadow-md">
            <img src="./img/jorg-angeli-1tyuLfDOnG0-unsplash.jpg" class="w-[50px] h-[50px]"/>
            <h1 class="font-bold">Private Workspace</h1>
            <p>Lorem ipsum dolor sit am ksksk sk skres ea.</p>

        </div>
        <div class="flex bg-white flex-col justify-center items-center gap-10 w-full sm:w-[250px]  p-5 rounded-md shadow-md">
            <img src="./img/jorg-angeli-1tyuLfDOnG0-unsplash.jpg" class="w-[50px] h-[50px]"/>
            <h1 class="font-bold">Private Workspace</h1>
            <p>Lorem ipsum dolor sit am ksksk sk skres ea.</p>

        </div>
       </div>
    </section>

    <section class="p-5 py-20">

        <h1 class="font-bold text-[30px] transform-upper">
            Find your best reservation deals
        </h1>
        <p class="text-[10px] my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, commodi.</p>
        <div  class="flex justify-center items-center gap-[5px] w-full my-5  ">
            <div class="w-[70%] h-full overflow-clip rounded-md">
                <img src="./img/jorg-angeli-1tyuLfDOnG0-unsplash.jpg" />
            </div>
            <div class="flex gap-[5px] flex-col w-[30%] justify-between items-center">
                <div class="rounded-md w-full h-[50%] overflow-clip ">
                    <img src="./img/jorg-angeli-1tyuLfDOnG0-unsplash.jpg" />
                </div>
                <div class="rounded-md w-full h-[50%] overflow-clip ">
                    <img src="./img/jorg-angeli-1tyuLfDOnG0-unsplash.jpg" />
                </div>
            </div>
        </div>
    </section>
    <footer class="w-full p-5 text-white bg-[rgb(60,3,44)]">
        <div class="flex w-full min-h-[100px] justify-between flex-col md:flex-row gap-[10px]">
            <div>
                <h1>

                    logo
                </h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit, ducimus!</p>
            </div>
            <div  class="flex justify-between gap-[10px] items-center flex-col sm:flex-row" >
                <a class="font-bold">About</a>
                <a class="font-bold">Contact us</a>
                <a class="font-bold">Home</a>
            </div>

        </div>
        <div>
            <hr class="py-5">
            <div>
                <p>all right reserved</p>
            </div>
        </div>

    </footer>

    
</body>
</html>