
<style>

    .nav{
        position: relative;
        color: white;
        display: flex;
        height: 60px; 
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 7px;
        
    }
    button{
            border: 0px;
            outline: 0px;
        }

    .navwrap{
        display: none;
        position : absolute;
        flex-direction: column;
       
        padding: 10px;
        top: 0px;
        left: 0px;
        background-color:black ;
        gap: 10px;
        height: 100vh;


        
    }

    
    .info{
            color:green
        }
        .error{
            color:red
        }
        .warn{
            color:yellow
        }

    .navcon{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .navbook{
        background-color: orangered;
        height: 40px;
        border-radius: 10px;
        padding: 0px 10px;
    }
    a{
        text-decoration: none;
        color: white;
    }

    .navmenubtn{
        display: block;
        color: white;
    }
    .logo2{
        margin: 20px 0px;
        display: block;
    }

  

    @media (min-width: 640px) { 

    }

    @media (max-width: 768px) { 
        .navwrapshow{
            display: flex;
        }
    }
    @media (min-width: 768px) { 
        .logo2{
       
        display: none;
    }
    .navmenubtn{
        display: none;
    }
        .navwrap{
            flex-direction: row;
            padding: 0px;
            position: static;
            background: none;
            height: 100%;
            gap: 100px;
            justify-content: center;
            align-items: center;
            display: flex;

        }

      
        .navcon{
            flex-direction: row;
            height: 100%;
            justify-content: space-between;
            align-items: center;
        }


     }


</style>
    <script src="https://kit.fontawesome.com/8c12befb35.js" crossorigin="anonymous"></script>
<nav class="nav ">
    <div class="logo">
        <a href="/">

            OASIS
        </a>
    </div>
    <!-- relative text-white flex h-[60px] justify-between w-full items-center p-5 -->
    <div class="navwrap ">
        <div class="navcon ">
            <div class="logo2" ><a href="/">

                OASIS
            </a></div>


            <a href="{% url 'aboutus' %}" >about us</a>
            <a href="{% url 'contactus' %}">contact us</a>
            {% if  user.is_authenticated %}
               <a href="/reservations">my reservation</a>
               <a href="/logout">logout</a>
           
            
            {% else %}
            <a href="/signup">signup</a>
            <a href="/login">login</a>
         
            {% endif %}
        </div>
            <div>

                <button class="navbook ">
                    <a href="/book">book reservations</a>
                </button>
                <!-- <button class="rounded-md px-5"> -->
                    <!-- </button> -->
                </div>
            </div>
            <div class="navmenubtn">

                <i class="  fa-solid fa-bars"></i>
            </div>
            <script>

                const navbtn = document.querySelector(".navmenubtn")
                const navwrap = document.querySelector(".navwrap")

                navbtn.addEventListener("click",e=>{
                    navwrap.classList.toggle("navwrapshow")

                })

            </script>

</nav>
{% if user.is_authenticated %}
<hr/>

<div style="width: 100%; color: white; padding: 5px 5px;"> You are loggedin as {{ user.username }}</div>
{% endif %}
