<nav class="relative text-white flex h-[60px] justify-between w-full items-center p-5">
    <div class="logo">LOGO</div>
    <div class="flex-col md:flex-row absolute p-5 md:p-0 top-0 left-0 md:static bg-black md:bg-transparent gap-[10px] md:gap-[100px] flex h-[100vh] md:h-full md:justify-between  md:items-center">
        <div class=" flex-col  md:flex-row  gap-[50px]  flex md:h-full md:justify-between md:items-center">

            <a>about us</a>
            <a>contact us</a>
            <a>signup</a>
            <a>login</a>
            <a>logout</a>
        </div>
            <div>

                <button class="bg-[orangered] h-[40px] rounded-md px-5">
                    <a>book reservations</a>
                </button>
                <!-- <button class="rounded-md px-5"> -->
                    <!-- </button> -->
                </div>
            </div>
            <i class="md:hidden visible fa-solid fa-bars text-white "></i>

</nav>